header {
    text-align: center;
}
.test header   {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 50px;
}
.test{
    
    margin: 0 200px 0 200px;
    background-color: beige;
}
.container{
display: flex;
justify-content: center;
text-align: center;


}
#end {
    background-color: beige;
    width: 500px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.scoreForm{
    padding-left: 150px;
}
button{
    font-size: 20px;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.choice-container{
    margin: 0 300px 0 400px;
    font-size: 20px;
    border: 3px solid beige;
}

.correct button{
    background-color: green;
}
.incorrect button{
    background-color: red;
}
.btn{
    width: 200px;
    font-size: 15px;
}
form{
    width: 200px;
    font-size: 20px;
}